@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: auto 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    color: #FFFFFF;
    background-color: black;
}


body:before {
    background-image: url(./media/Background\ CD\ 3000.jpg);
    content: "";
    background-position: 50%;
    /* background-size: 110% auto; */
    background-size: cover;
    height: 100%;
    /* transform: scale(1.1); */
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    filter: blur(16px);
    opacity: 0.63;
    z-index: -1;
}

main {
    width: 640px;

}

.profile-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.profile-header {
    margin-bottom: 15px;
    display: flex;
}

.profile-image {
    width: 150px;
    height: 150px;
    background-image: url(./media/Background\ CD\ 3000.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.profile-info {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.band-name {
    font-size: 30px;
    padding-bottom: 8px;
}

i {
    font-size: 14px;
}

.location {
    font-size: 14px;
    border: 2px solid #FFFFFF;
    border-radius: 1.5625rem;
    padding: 8px 15px 8px 10px;
    margin: 5px 0;
    width: fit-content;
}

.band-info {
    margin: 10px 0;
    opacity: .8;
}

.profile-links {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

iframe {
    border-radius: 15px;
    width: 100%;
    height: 320px;
}

ul {
    list-style: none;
}

.link-content {
    height: 70px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 7px 10px rgba(50, 50, 93, .1), 0 3px 4px rgba(0, 0, 0, .06);
    cursor: pointer;
    display: flex;
}

.icon-box {
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, .1);
    margin-right: 15px;
}

.icon-box>img {
    height: 55%;
    width: auto;
    /* padding: 15px; */
}



@media (max-width: 550px) {

    .profile-container {
        padding: 20px 20px;
    }

    .profile-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .profile-links {
        margin-top: 10px;
    }

    .profile-image {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
    }

    .profile-info {
        padding-left: 0;
        align-items: center;
    }

    iframe {
        height: 250px;
    }
}